@model MaerskLineDDAC.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Agent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo1.CargoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo1.CargoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ship1.ShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ship1.ShipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse1.WarehouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse1.WarehouseName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
