@model IEnumerable<MaerskLineDDAC.Models.Ship>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
   @Html.ActionLink("Book", "Create", "Books")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShippedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipAddress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ShipId })
            </td>
        </tr>
    }

</table>
